

.navbar {
  width: 100%;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  right: 10px;
  z-index: 10;
  margin: 0 auto;
  background-color: #3B6388;
}
.logo{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  gap: 20px;
}

.logo img {
  margin-left: 80px;
  width: 100px;
  height: 100px;
}

.navLinks {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-right: 0px;
}
.headerButton {
  padding: 6px 12px;
  background-color: #ff4d4d; /* vermelho para logout */
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 12px;
}

.headerButton:hover {
  background-color: #ff1a1a;
}

.navLinks li {
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
  margin-left: 10px;
  color: #ffffff;
}
.navLinks li a {
  text-decoration: none;
  color: inherit;
}

.navLinks li:hover {
  color: #4fa8d8;
}
.usuario {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
  color: #ffffff;
  
}

.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #1f3d5a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 15px;
}

.nomeUsuario {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
}
