.container{
  padding: 0px;
  width: 100%;
  margin: 0 auto;
}

.header{
  margin-bottom: 30px;
  display: flex;
  width: 100%;
  background-color: #3B6388;
}

.header h1{
  margin-bottom: 30px;
  display: flex;
  margin-left: 40px;
  color: white;
  
}

.logoutButton{
  margin-left: auto;
  margin-right: 30px;
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  background: #d90429;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
  width: 100px;
  height: 40px;
  margin-top: 40px;
}

.form{
  width: 80%;
  margin: 0 auto;
  
}

.cardsheader{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 30px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-bottom: 50px;
  padding: 40px;
  margin-left: 30px;
}

.sharkCard img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}