/* Página geral */
.pageWrapper {
font-family: Poppins, Helvetica, sans-serif;
width: 100%;
color: #1a1a1a;
align-items: center;
justify-content: center;
margin: 0 auto;

}
.navbar {
  width: 100%;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  margin: 0 auto;
  right: 10px;
  z-index: 10;
}
.btnlogin {
  display: inline-block;
  padding: 10px 10px;
  background-color: #024ea4;
  color: white;
  text-decoration: none; /* tira o sublinhado do link */
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.btnlogin:hover {
  background-color: #005fcc;
}

.logo{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #3B6388;
}

.logo img {
  margin-left: 100px;
  width: 100px;
  height: 100px;
}

.btnlogin {
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  background: #3B6388;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
  margin-right: 20px;
}   







/* HERO */
.hero {
margin-top: 0px;
width: 100%;
height: 450px;
background: url("../../public/heroimage.png") center/cover no-repeat;
display: flex;
align-items: center;
justify-content: center;
margin-left: 0px;

}


.heroText h1 {
font-size: 40px;
color: white;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
text-align: center;
}


/* Seções */
.section {
padding: 0px 40px;
}

.section img{
top: 50px;
width: 60px;
height: 60px;
}


.section h2 {
font-size: 40px;
margin-bottom: 20px;
font-family: 'Poppins', sans-serif;
display: flex;
align-items: center;
}


/* Cards de espécies */
.speciesGrid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(10px, 2fr));
gap: 25px;
}


.card {
  background: white;
  border-radius: 15px;
  padding-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  width: 100%;
  max-width: 300px;  /* Ajuste aqui para caber mais cards */
}



.card:hover {
transform: scale(1.03);
}


.card img {
width: 100%;
height: 180px;
object-fit: cover;
}


.card h3 {
padding: 10px 15px;
font-size: 20px;
}


.card button {
margin-left: 15px;
padding: 10px 18px;
border: none;
border-radius: 10px;
background: #0077b6;
color: white;
font-size: 14px;
cursor: pointer;
transition: 0.2s;
}


.card button:hover {
background: #005a85;
}




.section2 h2 {
padding: 40px 40px;
font-size: 40px;
text-align: center;
justify-content: center;
font-family: 'Poppins', sans-serif;
display: flex;
align-items: center;


}




/* container do grid — força 4 colunas fixas */
.questionsGrid {
  display: grid;
  grid-template-columns: repeat(5, 350px); /* 5 cards por linha */
  gap: 10px;
  justify-content: center;
  width: 80%;
  margin-top: 40px;
  margin-bottom: 100px;
  box-sizing: border-box;
  margin-left: 100px;
}

/* cards — tamanho fixo para combinar com as colunas do grid */
.questionCard {
  background: white;
  padding: 18px 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.443);
  font-size: 20px;
  line-height: 1.4;
  cursor: pointer;
  transition: transform 0.2s;

  width: 300px;
  box-sizing: border-box;

  backface-visibility: hidden;
}



.questionCard:hover {
transform: scale(1.03);
}


/* container do flip */
.flipCard {
  perspective: 1000px;
}

/* parte interna que gira */
.flipCardInner {
  width: 300px;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* gira ao passar o mouse */
.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

.answerCard {
  background: white; /* mantém o design */
  padding: 18px 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.443);
  font-size: 18px;
  line-height: 1.4;

  width: 300px;
  box-sizing: border-box;

  position: absolute;
  top: 0;
  left: 0;

  transform: rotateY(180deg);
  backface-visibility: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


/* Newsletter */
.newsletter {
margin-top: 40px;
padding: 60px 40px;
background: url("../../public/Rectangle\ 3.png") center/cover no-repeat;
text-align: center;
color: white;

}


.newsletter h2 {
font-size: 28px;
margin-bottom: 25px;
}


.button {
padding: 12px 25px;
background: white;
color: #005a98;
border: none;
border-radius: 10px;
font-size: 18px;
cursor: pointer;
transition: 0.2s;
}


.button:hover {
background: #e6e6e6;
}