.loginPage {
  width: 100%;
  height: 100vh;
  display: flex;
  background: #ffffff;
}

/* LADO ESQUERDO ----------------------------------- */
.leftSide {
  flex: 1;
  height: 100%;
}

.leftSide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* LADO DIREITO ------------------------------------ */
.rightSide {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightSide h1 {
  font-size: 32px;
  margin-bottom: 50px;
  color: #1a1a1a;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.back {
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 20px;
  width: fit-content;
  transition: 0.2s;
}

.back:hover {
  transform: translateX(-5px);
}


/* FORM -------------------------------------------- */
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 500px;
  margin: 0 auto;
}

.form label {
  font-weight: 500;
  font-size: 16px;
  color: #333;
}

.form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  font-size: 15px;
  background: #f5f5f5;
}

.forgotPassword {
  display: block;
  text-align: right;
  font-size: 14px;
  color: #3B6388;
  margin-top: -5px;
  cursor: pointer;
  text-decoration: none;
}

.loginBtn {
  width: 100%;
  padding: 12px;
  background: #3B6388;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  font-size: 14px;
  font-weight: 500;
  color: #666;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider:not(:empty)::before {
  margin-right: 10px;
}

.divider:not(:empty)::after {
  margin-left: 10px;
}


.googleBtn {
  width: 100%;
  padding: 12px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.registerText {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
}

.registerText a {
  color: #3B6388;
  font-weight: 600;
  text-decoration: none;
}

/* RESPONSIVIDADE ------------------------------- */
@media (max-width: 900px) {
  .loginPage {
    flex-direction: column;
  }

  .leftSide {
    height: 300px;
  }

  .rightSide {
    padding: 40px;
  }
}
