.footer {
  background: #f2f2f2;
  text-align: center;
  padding: 25px;
  margin-top: 20px;
  border-top: 2px solid #ddd;
  justify-content: center;
  align-items: center;
  
  
}

.footerLogo img {
  margin-bottom: 15px;
  justify-content: center;
  width: 100px;
  height: 100px;

}
